/* Acá va tu código */
body {
    /* background-color: rgb(223, 247, 255); */
    background-image: url("sean-sinclair-1242260-unsplash.jpg");
    background-attachment: fixed;
    background-size: cover;
    margin-left: 5%;
  }

  h1 {
    background-color: #99d399;
  }

  h1 {
      border:5px solid pink;
      border-block-start-style: initial;
      padding-left: 10cm;
  }

  h2{
      margin-left: 3cm;

  }


  
.btnPrimary {
    padding: 10.5px;
    background-color: #e9bad0;
    border: 2px solid #99d399;
    }

    .btnSecondary {
        padding: 10.5px;
        background-color: #e9bad0;
        border: 2px solid #99d399;
        
        }

#showEncode {color: #dffffd; }
#showDecode {color: #dffffd; }
#root { color: #faf88b; }
#explanation { color: #ffffff; }
#messageTitle { color: #faf88b;  }
#offsetTitle { color: #faf88b; }
