body {
    background-color: rgba(255, 225, 230, 0.795);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 5%;
  }

  h1 {
    background-color: #99d399;
  }

  h1 {
      border:5px solid pink;
      border-block-start-style: initial;
      padding-left: 10cm;
  }

  h2{
      margin-left: 3cm;

  }

a {
    font-style: italic;
    color: #4c66af;
 }
  
.btnPrimary {
    padding: 10.5px;
    background-color: #e9bad0;
    border: 3px solid #99d399;
    margin-left: 3cm;
    }

    .btnSecondary {
        padding: 10.5px;
        background-color: #e9bad0;
        border:3px solid #99d399;
        margin-left: 3cm;
        
        }

        #btnEncode, #btnDecode, #messageTitle,  #offsetTitle,#explanation  {color: #4c66af; margin-left: 3cm;}    

        #showEncode, #showDecode, #message, #offsetNumber  {color: #3a516ece; margin-left: 3cm; }

        #root { color:white;} 
